@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <h1>Welcome to the MTG application by group 18!</h1>

    <p>This application allows you to build and manage your card decks with ease. You can search for cards, filter them by color, and add them to your deck.</p>
    <p>Features of the application:</p>
    <ul>
        <li>Search for cards by name</li>
        <li>Filter cards by color</li>
        <li>View detailed information about each card</li>
        <li>Add and remove cards from your deck</li>
    </ul>
    <p>Get started by logging in on the <a href="/login">Login page</a>, or registering yourself on the <a href="/register">Register page</a>.</p>
</div>