@page "/register"
@rendermode InteractiveServer
@using SessionServices

@inject SessionServices sessionService
@inject NavigationManager navigationManager

<PageTitle>Register</PageTitle>

<div class="register-form">
    <h1>Register</h1>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" @bind="username" placeholder="Username" type="text" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" @bind="password" placeholder="Password" type="password" />
    </div>

    <button @onclick="RegisterUser">Register</button>

    <p>@registerMessage</p>
</div>

@code {
    private string username;
    private string password;
    private string registerMessage;

    private void RegisterUser()
    {
        if (sessionService.Register(username, password))
        {
            registerMessage = "Registration successful";

            navigationManager.NavigateTo("/login");
        }
        else
        {
            registerMessage = "Username already exists";
        }
    }
}
